footer.container-fluid.text-center.bg-lightgray
  .copyrights(style='margin-top:25px;')
    p
      | Mossy City © 2016, All Rights Reserved
      br
      span Web Design By: Mike Clark
    p
      a(href='https://www.linkedin.com/', target='_blank')
        | Linkedin 
        i.fa.fa-linkedin-square(aria-hidden='true')
